@model Octopus.Models.CarteraTransaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarteraTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OperacionDesc" class="control-label"></label>
                <input asp-for="OperacionDesc" class="form-control" />
                <span asp-validation-for="OperacionDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOperation" class="control-label"></label>
                <input asp-for="FechaOperation" class="form-control" />
                <span asp-validation-for="FechaOperation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarteraId" class="control-label"></label>
                <select asp-for="CarteraId" class="form-control" asp-items="ViewBag.CarteraId"></select>
                <span asp-validation-for="CarteraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
