@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
<button asp-action="Index" asp-controller="Home" class="btn btn-danger">Regresar</button>
<h2>Edita tu cuenta</h2>

<div>
    <h4>Maneja tus datos de acceso</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
