@{
    ViewData["Title"] = "Inicio";
}
    <div class="container contRecargar">
      
        
            <h1 class="display-3 mb-1">Octopus</h1>
            <p class="lead">Realiza recargas electronicas y <span>paga tus servicios.</span>.</p>
    
    </div>
 
